
.about-work {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__description::before {
    content: "";
    background-color: $basic-green;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: block;
  }

  &__description--leaf::before {
    background-image: url("../../icons/stack.svg#leaf");
    background-size: 30px 32px;
  }

  &__description--powder::before {
    background-image: url("../../icons/stack.svg#powder");
    background-size: 30px 32px;
  }

  &__description--eat::before {
    background-image: url("../../icons/stack.svg#eat");
    background-size: 30px 32px;
  }

  &__description--time::before {
    background-image: url("../../icons/stack.svg#time");
    background-size: 30px 32px;
  }
}

.about-work__description {
  font-family: $font-family-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $basic-dark-gray;
}
