
.additionally {
  border-top: 2px solid $basic-green;
  margin: 33px auto 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 93px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 113px;
  }
}

.additionally__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 110px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.additionally__list {
  list-style: none;
  margin: 34px 0 35px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 30px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin: 80px 0 0;
  }
}

.additionally__title {
  font-family: $font-family-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  margin: -10px 0 0;
  padding: 0 0 0 20px;
  background-color: $white;
  width: 283px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    width: 380px;
    margin: -16px 0 80px 30px;
    text-align: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 456px;
    font-size: 40px;
    line-height: 40px;
    margin: -20px 0 0 73px;
  }
}

.additionally__item-title {
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-dark-gray-2;
  margin: 0 0 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    width: 161px;
    margin: 0 164px 0 0;
  }
}

.additionally__item-mass {
  font-family: $font-family-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $basic-dark-gray;
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    margin: 0;
  }
}

.additionally__item-price {
  font-family: $font-family-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $basic-dark-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.additionally__button {
  background-color: $basic-green;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  display: block;
  padding: 10px 0 0;
  width: 100%;
  height: 40px;
  text-align: center;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba($white, 0.3);
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.additionally__card {
  margin: 0 auto;
  background-color: $basic-green;
  background-image: image-set("../../images/cat-in-bag-mobile@1x.jpg" 1x, "../../images/cat-in-bag-mobile@2x.jpg" 2x);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 290px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    background-image: image-set("../../images/cat-in-bag-tablet@1x.jpg" 1x, "../../images/cat-in-bag-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    margin: 80px 0 0;
    width: 245px;
    height: 289px;
    background-image: image-set("../../images/cat-in-bag-desktop@1x.jpg" 1x, "../../images/cat-in-bag-desktop@2x.jpg" 2x);
  }
}

.additionally__card-text {
  font-family: $font-family-lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 187px 61px 59px 58px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 71px 124px 69px 423px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 43px 42px 41px;
    text-align: center;
  }

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    top: 57px;
    left: 35%;

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 78px;
      width: 80px;
      height: 83px;
      background-size: 80px 83px;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 84px;
    }
  }
}

.additionally__card-background {
  width: 100%;
  height: 100%;
  background-color: $background-green;
}

.additionally__price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 223px;
    padding-top: 3px;

    &--water {
      width: 163px;
    }

    &--milk {
      width: 141px;
    }

    &--vitamins {
      width: 216px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin-right: 40px;
  }
}

.additionally__item {
  padding: 13px 0 19px;
  margin: 0 20px;
  border-top: 1px solid $border-gray;

  &:last-of-type {
    border-bottom: 1px solid $border-gray;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding: 15px 0 16px;
  }
}

.additionally__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
