.additionally {
  &__list {
    list-style: none;
  }

  &__title {
    font-family: $font-family-oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: $black;
  }

  &__item-title {
    font-family: $font-family-oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: $basic-dark-gray-2;
  }

  &__item-mass {
    font-family: $font-family-lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $basic-dark-gray;
  }

  &__item-price {
    font-family: $font-family-lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $basic-dark-gray;
  }

  &__button {
    background-color: $basic-green;
    font-family: $font-family-oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
  }

  &__card-text {
    font-family: $font-family-lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
