.address {
  position: relative;
}

.address__wrapper {
  background-color: $white;
  margin: 0 auto;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 79px;
    position: absolute;
    background-color: $white;
    top: 95px;
    left: 110px;
    min-width: 407px;
  }
}

.address__title {
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $black-2;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.address__text-street {
  font-family: $font-family-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $basic-dark-gray;
  font-style: normal;
  margin: 0;
  min-width: 140px;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 157px;
    text-align: right;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__text-city {
  font-family: $font-family-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $basic-dark-gray;
  font-style: normal;
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 157px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__wrapper-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    min-width: 407px;
  }
}

.address__map {
  height: 362px;
  background-image: url("../../images/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../images/map-tablet@1x.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image: url("../../images/map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
