.address {
  &__title {
    font-family: $font-family-oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black;
    text-transform: uppercase;
  }

  &__text {
    font-family: $font-family-lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $basic-dark-gray;
    font-style: normal;
  }
}
