.card__title--more::before {
  content: "";
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto 23px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 50px;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 55px 45px;
  }
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__title {
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $basic-dark-gray-2;
  margin: 0 0 13px;
  width: 76px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 57px 20px;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 15px 30px;
    line-height: 21px;
  }
}

.card__definition {
  font-family: $font-family-lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $basic-dark-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.card__value {
  font-family: $font-family-lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $basic-dark-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.card__button {
  background-color: $basic-green;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  display: block;
  padding: 10px 0;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 9px;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin: 33px auto 0;
    padding: 9px 0;
    width: 248px;
    height: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 40px;
    margin-top: 36px;
  }
}

.card__button--more {
  background-color: $basic-gray;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-dark-gray;
  border: none;
  margin-top: 21px;

  &:hover {
    background-color: $basic-light-gray;
  }

  &:active {
    background-color: $basic-light-gray;
  }

  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
  }
}

.card__img {
  margin: 0;
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    margin: 0 42px 30px;
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 12px;
    width: 172px;
    height: 196px;
  }
}

.card__wrapper {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card__item {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 6px;
    width: 100%;
    margin: 0 0 9px;
    border-bottom: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.card__text {
  font-family: $font-family-lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-dark-gray;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-top: 23px;
    width: 170px;
    text-align: center;
  }
}

.card__title--more {
  width: 204px;
  margin: 0 auto 8px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 45px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
