.catalog-cards__wrapper {
  margin: 27px 0 25px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto 83px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto 85px;
  }
}

.catalog-cards__title {
  font-family: $font-family-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $black;
  margin: 0 20px 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 65px 30px 81px;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 0 81px;
  }
}

.catalog-cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 62px 60px;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
    margin: 0;
  }
}

.catalog-cards__item {
  border-top: 1px solid $basic-gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 36px 40px;
    width: 324px;
    min-height: 430px;
    background-image: linear-gradient($white 81px, $basic-gray 81px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 38px 40px;
    width: 245px;
  }

  &:last-of-type {

    border-bottom: 1px solid $basic-gray;

    @media (min-width: $tablet-width) {
      background-image: none;
      border: 2px solid $basic-gray;
    }
  }

  &--more {
    flex-direction: column;

    @media (min-width: $tablet-width) {
      margin-top: 84px;
      padding: 0 37px 35px;
    }
  }
}

