.hero-block {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after,
    &::before {
      content: "";
      z-index: -1;
      background-color: $background-green;
      width: 100%;
      height: 302px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &::after {
      top: 0;
      background-image: image-set("../../images/index-background-mobile@1x.jpg" 1x, "../../images/index-background-mobile@2x.jpg" 2x);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;
    }
  }
}

.hero-block__wrapper {
  margin: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    min-height: 810px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 107px;
    min-height: 609px;
  }
}

.hero-block__title {
  font-family: $font-family-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $white;
  margin: 0 0 25px;
  text-align: center;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: 0;
    margin: 62px 0 40px 100px;
    text-align: left;
    width: 420px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 80px;
    width: 416px;
  }
}

.hero-block__description {
  font-family: $font-family-oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    margin: 0 0 0 100px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero-block__button {
  background-color: $basic-green;
  min-height: 40px;
  width: 280px;
  color: $white;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  margin: 0 auto;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 50px 0 0 100px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 52px 0 0 80px;
  }
}


.hero-block__jar-img {
  display: block;
  margin: 0 auto 3px;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 200px;
    left: 10px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 26px;
    left: 537px;
    width: 552px;
    height: 499px;
  }
}
