.main-header {
  min-height: 39px;
  margin: 0 auto;

  &--catalog {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $line-gray;
    }

    &::after,
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 55px 110px 0;
    position: relative;

    &::after,
    &::before {
      content: "";
      z-index: -1;
      background-color: $background-green;
      width: 50%;
      height: 694px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &::before {
      background-color: $background-green;
      z-index: -1;
    }

    &::after {
      top: 0;
      background-image: url("../../images/index-background-desktop@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;

      // @media (min-resolution: 2dppx) {
      //   background-image: url("../../images/index-background-desktop@2x.jpg")
      //  }
    }
  }
}

.main-header__wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
