.main-footer__wrapper {
  margin: 0 auto;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 57px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 auto;
  width: 132px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__social-list-wrapper {
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 37px;
  }
}

.main-footer__social-link {
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 28px;
  min-height: 22px;
  display: block;

  &:hover,
  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}

.main-footer__social-link--vkontakte {
  background-color: $basic-light-gray-2;
  mask-image: url("../../icons/stack.svg#vkontakte");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.main-footer__social-link--youtube {
  background-color: $basic-light-gray-2;
  mask-image: url("../../icons/stack.svg#youtube");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.main-footer__social-link--telegram {
  background-color: $basic-light-gray-2;
  mask-image: url("../../icons/stack.svg#telegram");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.main-footer__html-img {
  background-color: $basic-light-gray-2;
  mask-image: url("../../icons/stack.svg#logo-html");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 27px;
  min-height: 34px;
  display: block;

  &:hover,
  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}

.main-footer__html-text {
  font-family: $font-family-lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-dark-gray;
  margin: 0;
}

.main-footer__html-logo {
  text-decoration: none;
}

.main-footer__logo-wrapper {
  text-align: center;
  display: block;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__html-logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin: 0;
  }
}

.main-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
